/* p{
    color: red;
    font-size: 20px;
    font-weight: bold;
}; */

/* RGB color */
/* p{
    color: rgb(0,0,255);
    font-size: 20px;
    font-weight: bold;
} */

/* rgba */

p{
    color: rgba(0,0,255,0.5);
    font-size: 20px;
    font-weight: bold;
}


/* hex code */
body{
    color: #0000ff;
    font-size: 20px;
    font-weight: bold;
}

.list{
    color: #0000ff;
    font-size: 20px;
    font-weight: bold;
};