/* p{
    color: red;
    font-size: 20px;
    font-weight: bold;
}; */

/* RGB color */
/* p{
    color: rgb(0,0,255);
    font-size: 20px;
    font-weight: bold;
} */

/* rgba */

p{
    color: rgba(0, 255, 106, 0.486);
    font-size: 20px;
    font-weight: bold;
}


/* hex code */
body{
    color: hsla(240, 35%, 44%, 0.541);
    font-size: 20px;
    font-weight: bold;
}

.list{
    color: #ff1100;
    font-size: 20px;
    font-weight: bold;
};